<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>

<div layout:fragment="content">
    <div class="header border-bottom">
        <h1 class="h2">User List</h1>
    </div>
</div>

<!-- User list-->
<div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th clas="th-width">User ID</th>
            <th clas="th-width">User Name</th>
            <th clas="th-width">Birthdate</th>
            <th clas="th-width">Age</th>
            <th clas="th-width">Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${userList}">
            <td th:text="${item.userID}"></td>
            <td th:text="${item.userName}"></td>
            <td th:text="${dates.format(item.birthday, 'YYYY/MM/dd')}"></td>
            <td th:text="${item.age}"></td>
            <td th:text="${item.gender == 1}?'Male':'Female'"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>