<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <!--CSS-->
  <link rel="stylesheet"th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/login/login.css}">
  <!-- JS -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"defer></script>
  <title>Login</title>
</head>
<body class="bg-light">
<div class="text-center">
  <form method="post" th:action="@{/login}" class="form-login">
    <h2>Login</h2>
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
       th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
       class="text-danger">
      Login Error
    </p>
    <!-- User ID -->
    <div class="form-group">
      <label for="userId" class="sr-only">User id</label>
      <input type="text" class="form-control" placeholder="ユーザーID" name="userID"/>
    </div>
    <!-- Password -->
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input type="text" class="form-control" placeholder="パスワード" name="password"/></div>
    <input type="submit"value="ログイン" class="btn btn-primary"/>
  </form><a th:href="@{/user/signup}">新規登録はこちら</a></div>
</div>
  </form>
</div>
</body>
</html>