<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper & xml Mapping -->
<mapper namespace="net.myfarm.domain.user.service.UserService">

    <!-- Mapping Definition (Department -->
    <resultMap id="department" type="net.myfarm.domain.user.mode.Department">
        <id column="department_id" property="departmentId"></id>
        <result column="department_name" property="departmentName"/>
    </resultMap>

    <!-- Mapping Definition (User) -->
    <resultMap id="user" type="net.myfarm.domain.user.model.MUser">
        <id column="user_id" property="userId" />
        <result column="password" property="password" />
        <result column="user_name" property="userName" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="department_id" property="departmentId" />
        <result column="role" property="role" />
        <association property="department" resultMap="department"/>
    </resultMap>

    <!-- User Registration -->
    <insert id="signup">
        insert into m_user(
        user_id,
        password,
        user_name,
        birthday,
        age,
        gender,
        department_id,
        role

        ) values (
        #{userId},
        #{password},
        #{userName},
        #{birthday},
        #{age},
        #{gender},
        #{departmentId},
        #{role}
        )
    </insert>

    <!-- Get multiple users) -->
    <select id="getUsers" resultType="net.myfarm.domain.user.service.UserService">
        select * from m_user
        <where>
            <if test="userId != null">
                user_id like '%' || #{userId} || '%'
            </if>
            <if test="userName != null">
                and user_name like '%' || #{userName} || '%'
            </if>
        </where>
    </select>

    <!-- Find One User -->
    <select id="getOne" resultType="net.myfarm.domain.user.service.UserService">
        select * from m_user
        left join m_department on m_user.department_id = m_department.department_id
        where user_id = #{userId}
    </select>

    <!-- Update One User -->
    <update id="updateOne">
        update m_user set password = #{password}, user_name = #{userName} where user_id = #{userId}
    </update>

    <!-- Delete One User -->
    <delete id="deleteOne">
        delete from m_user where user_id = #{userId}
    </delete>
</mapper>