<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper & xml Mapping -->
<mapper namespace="net.myfarm.domain.user.service.UserService">

    <!-- Mapping Definition (User) -->
    <resultMap id="user" type="net.myfarm.domain.user.model.MUser">
        <id column="user_id" property="userId" />
        <result column="password" property="password" />
        <result column="user_name" property="userName" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="department_id" property="departmentId" />
        <result column="role" property="role" />
    </resultMap>

    <!-- User Registration -->
    <insert id="signup">
        insert into m_user(
        user_id,
        password,
        user_name,
        birthday,
        age,
        gender,
        department_id,
        role

        ) values (
        #{userId},
        #{password},
        #{userName},
        #{birthday},
        #{age},
        #{gender},
        #{departmentId},
        #{role}
        )
    </insert>

    <!-- Get multiple users) -->
    <select id="getUsers" resultType="map">
        select * from m_user
    </select>

    <select id="findOne" resultMap="user">
        select * from m_user where user_d = #{userId}
    </select>
</mapper>